html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-family: "IBM Plex Sans", Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 10px;
    padding: 0;
    text-align: center;
}

div#references {
    font-size: 14px;
    display: block;
    text-align: left;
    margin: 30px;
}

div#buttons {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10px;
}

div#cpc {
    position: relative;
    width: calc(100vw - 100px);
    height: calc(100vh - 200px);
    border: 1px solid #DFE3E6;
    border-top: 8px solid #DFE3E6;
    margin: 0 auto;
    float: none;
}

a {
    border: 1px solid #233d76;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: #498bff;
    margin: 10px;
    width: 180px;
    display: inline-block;
}

a:HOVER {
    background: white;
    color: #498bff;
}

svg._cpc circle.choice.collapsible {
  stroke: rgb(62, 113, 176) !important;
}

svg._cpc rect.choice_container.collapsible.expanded:HOVER {
  stroke: rgb(62, 113, 176) !important;
}

svg._cpc path.line.highlighted {
  stroke: rgb(89, 162, 255) !important;
}

svg._cpc path.line.selected:HOVER {
  stroke: rgb(212, 39, 255) !important;
}

svg._cpc text {
  font-size: 11px;
  fill: #000;
}

svg._cpc path.axis {
  stroke-dasharray: 4;
}

/*svg._cpc path.line.lines_a {
    stroke: rgb(52, 255, 0) !important;
}

svg._cpc path.line.lines_b {
    stroke: rgb(0, 17, 255) !important;
}

svg._cpc path.line.lines_c {
    stroke: rgb(255, 0, 22) !important;
}*/
